@charset "utf-8";

/* 768px 이하 아이패드 세로기준 */
@media screen and (max-width:1279px){

/* common */
table{width:100%;table-layout:fixed;}
.mobileOnly{display:block}
.mobileOnlyFlex{display:flex}
.pcOnly{display:none !important}
.pcOnlyFlex{display:none !important}
.pcOnlyTableColumn{display:none !important;}
.wrapper{width:calc(100% - 20px);padding:0 10px;min-width:300px;}
body{position:relative;min-width:320px;}
.mt40{margin-top:40px !important}
.scrollXArea{width:calc(100% + 14px);overflow-x:auto}
.contentBox{flex-basis:100%;}

/* header */
#header{position:fixed;z-index:10;top:0;left:0;width:100%;background:var(--white_1);}
.topMenuToggleWrap{display:none;}
.logo {width:156px;height:22px;vertical-align:middle;}
.headerFlex{position:relative;z-index:1;display:flex;width:100%;height:40px;padding:18px 10px;margin:0 -10px 20px -10px;}
.headerFlex .hambergerBtn{width:18px;height:18px;margin:0 22px 0 0;background:url(../images/mobile/common/btn_hamberger.png) 0 0 no-repeat;background-size:100%;}

.headerFlex .language{display:flex;margin-left:auto;font-size:14px;color:var(--gray_8);}
.headerFlex .language li + li::before {content:''; display:inline-block; width:2px;height:10px;margin:0 8px;background:var(--gray_8);vertical-align:middle;}
.headerFlex .language>li:last-child::after {display:none;}
.headerFlex .language a:hover{color:var(--black_0);}
.headerFlex .language .is_active_black{color:var(--black_0);}

.headerFlex .search{position:absolute;z-index:1;bottom:-20px;left:10px;width:calc(100% - 20px);height:40px;border:1px solid var(--blue_1);}
.headerFlex .search>input[type=text]{box-sizing:border-box;width:calc(100% - 30px);padding:0 0 0 20px;line-height:40px;vertical-align:middle;font-size:13px;border:none;outline:none}
.headerFlex .search>a{overflow:hidden;display:inline-block;width:18px;height:18px;vertical-align:middle;text-indent:999px;color:transparent;background:url(../images/common/zoom.svg) 0 0 no-repeat;}

.headerNav{overflow-y:hidden;position:absolute;z-index:3;top:0;left:0;width:0;background:#F7FBFC;}
.headerNav>.wrapper{overflow:hidden;position:relative;z-index:3;width:0;height:100%;padding:0;background:#F7FBFC;}
.headerNav .bgLayer{position:fixed;top:0;left:0;z-index:1;display:none;width:100%;height:100%;background:rgba(0,0,0,0.3)}

.headerNavFlex{overflow:hidden;width:0;min-height:100vh;background:#F7FBFC;}
.headerNavFlex .search{width:100%;height:38px;border-bottom:1px solid var(--blue_1);background:var(--white_1);}
.headerNavFlex .search>input[type=text]{box-sizing:border-box;width:calc(100% - 30px);padding:0 0 0 30px;line-height:38px;vertical-align:middle;font-size:14px;border:none;outline:none}
.headerNavFlex .search>a{overflow:hidden;display:inline-block;width:18px;height:18px;vertical-align:middle;text-indent:999px;color:transparent;background:url(../images/common/zoom.svg) 0 0 no-repeat;}

/* .headerNav .headerGnb{min-height:100vh} */
.headerNav .headerGnb>li>a{position:relative;z-index:1;box-sizing:border-box;display:block;width:100%;height:40px;padding:0 30px;line-height:38px;font-size:16px;font-weight:500;border-bottom:1px solid #f1f5fa;}
.headerNav .headerGnb>li>a::after{content:'▼';position:absolute;z-index:1;right:20px;top:0;font-size:13px;color:var(--black_0)}
.headerNav .headerGnb>li>a.is_active::after{content:'▲';color:var(--black_0)}
.headerNav .headerGnb>li .subTitle{display:none;}
.headerNav .headerGnb>li .subGnbLayer{display:none;}
.headerNav .headerGnb>li .categoryOne{padding:0 8px;}
.headerNav .headerGnb>li .categoryOne>h5{height:35px;padding:0 0 0 18px;}
.headerNav .headerGnb>li .categoryOne>h5>a{position:relative;z-index:1;box-sizing:border-box;display:block;width:100%;height:35px;line-height:35px;font-size:14px;font-weight:500}
.headerNav .headerGnb>li .categoryOne>h5>a>span{display:none}
.headerNav .headerGnb>li .categoryOne>h5>a::after{content:'+';position:absolute;z-index:1;right:1px;top:0;font-size:24px;color:#6b6b6b}
.headerNav .headerGnb>li .categoryOne>h5>a.no_category::after{content:'>';position:absolute;z-index:1;right:4px;top:0;font-size:12px;color:#555}
.headerNav .headerGnb>li .categoryOne>ul{display:none;width:100%;padding:10px 0;background:var(--white_1);border-radius:4px;}
.headerNav .headerGnb>li .categoryOne>ul>li{padding:0 20px}
.headerNav .headerGnb>li .categoryOne>ul>li>a{display:block;line-height:34px;font-size:14px;color:var(--black_1);}
.headerNav .headerGnb>li .categoryOne>ul>li>a>mark{height:16px;padding:0 4px;margin:0 4px 0 0;line-height:12px;font-size:14px;color:var(--white_1);background:var(--blue_1);border-radius:2px;}

.sub_1 .headerNav .headerGnb>li .categoryOne>ul>li>a>mark{background:var(--blue_1)}
.sub_2 .headerNav .headerGnb>li .categoryOne>ul>li>a>mark{background:var(--blue_1)}
.sub_3 .headerNav .headerGnb>li .categoryOne>ul>li>a>mark{background:var(--blue_1)}
.sub_4 .headerNav .headerGnb>li .categoryOne>ul>li>a>mark{background:var(--blue_2)}
.sub_5 .headerNav .headerGnb>li .categoryOne>ul>li>a>mark{background:var(--blue_3)}
.sub_6 .headerNav .headerGnb>li .categoryOne>ul>li>a>mark{background:var(--blue_4)}
.sub_7 .headerNav .headerGnb>li .categoryOne>ul>li>a>mark{background:var(--blue_5)}
.sub_8 .headerNav .headerGnb>li .categoryOne>ul>li>a>mark{background:var(--blue_6)}

.lnbArea{width:87.142%;margin:18px auto 0;}
.lnbArea>h3{width:100%;height:30px;line-height:28px;text-indent:20px;font-size:14px;color:var(--black_1);border-radius:4px 4px 0 0;background:#EEF2F9}
.lnbArea>ul{padding:10px 0;background:var(--white_1);border-radius:0 0 4px 4px;}
.lnbArea>ul>li>a{display:block;height:38px;padding:0 20px 0 56px;line-height:36px;font-size:14px;color:var(--black_1);}
.lnbArea>ul>li:nth-child(1)>a{background:url(../images/mobile/common/lnb_icon_1.png) 20px 7px no-repeat;}
.lnbArea>ul>li:nth-child(2)>a{background:url(../images/mobile/common/lnb_icon_2.png) 20px 7px no-repeat;}
.lnbArea>ul>li:nth-child(3)>a{background:url(../images/mobile/common/lnb_icon_3.png) 20px 7px no-repeat;}
.lnbArea>ul>li:nth-child(4)>a{background:url(../images/mobile/common/lnb_icon_4.png) 20px 7px no-repeat;}
.lnbArea .lnbTelBtn{box-sizing:border-box;display:block;width:36.4%;min-width:104px;max-width:120px;height:36px;padding:0 10px 0 33px;margin:18px auto 0;line-height:34px;text-align:center;color:var(--white_1);font-size:13px;background:var(--blue_1) url(../images/mobile/common/lnb_tel_icon.png) 10% 7px no-repeat;border-radius:4px;}

/* submenu */
.aside{display:none}
.sideBox{display:none}

/* contents */
#contentsWrap{padding:96px 0 0 0}

/* footer */
#footer{background:var(--gray_7)}
.footerMenu{position:relative;z-index:1;padding:66px 0 0 0;}
.footerMenu .footerSubnav{box-sizing:border-box;position:absolute;z-index:1;top:24px;left:0;display:flex;gap:8px;width:100%;padding:0 48px;justify-content:space-between;}
.footerMenu .footerSubnav li{display:inline-block;flex:1;width:22%;height:28px;}
.footerMenu .footerSubnav li>a{display:block;width:100%;height:28px;line-height:26px;text-align:center;font-size:12px;color:var(--black_0);background:var(--white_1);border:1px solid var(--gray_4);border-radius:4px}
.footerMenuFlex{text-align:center;}
.footerMenuFlex >a{font-size:13px;color:var(--black_0);}
.footerMenuFlex .language{display:inline-block;margin-left:10px;}
.footerMenuFlex .language a{position:relative;z-index:1;margin:0 5px;font-size:13px;color:var(--gray_8);}
.footerMenuFlex .language a:first-child::after{content:'';position:absolute;z-index:1;top:4px;right:-8px;display:block;width:1px;height:14px;background:#aaa}
.footerMenuFlex .language a.is_active{color:var(--black_0);}

.footerMenuFlex .snsWrap {position:absolute;z-index:1;bottom:-56px;left:0;display:flex;width:100%;gap:14px;justify-content: center;align-items:center;margin-left:auto;margin-right:9px;}
.footerMenuFlex .snsWrap>li {width:21px;height:20px;background:url(../images/common/SNS.png);}
.footerMenuFlex .snsWrap>li:nth-child(1) {background-position:0 0;}
.footerMenuFlex .snsWrap>li:nth-child(2) {background-position:-35px 0;}
.footerMenuFlex .snsWrap>li:nth-child(3) {background-position:-70px 0;}
.footerMenuFlex .snsWrap>li:nth-child(4) {background-position:-105px 0;}
.footerMenuFlex .snsWrap>li>a {display:inline-block;width:21px;height:20px;}

.adressInfo li{display:none;}
.adressInfo li.showInMobile{display:flex;justify-content: center;}
.adressInfo li.showInMobile .hideMobile{display:none}
.adressInfo .mobileAddr{display:block;padding-top:60px;text-align:center;color:var(--gray_8)}

.csCenterInfo{display:flex;justify-content:center;align-items: center;gap:5px;width:100%;height:56px;margin:50px auto 0;background:var(--blue_1);}
.csCenterInfo>h3{line-height:21px;color:var(--white_1);font-size:15px;}
.csCenterInfo>p{line-height:21px;color:var(--white_1);font-size:21px;font-weight:700}

.mobileTopBtn{position:fixed;z-index:9;bottom:30px;left:50%;display:none;width:26px;height:26px;margin-left:-13px;}

}