@charset "utf-8";
/* main.html */
/* .l_wrapper {width:1280px;padding:0 10px;margin:0 auto;box-shadow: inset 0 0 10px red;} */
/* .wrapper{max-width:1280px;margin:0 auto;} */
.mainContent{display:flex;}
.contentMajor{width:1028px;padding:60px 0;flex-grow:0;flex-shrink:0;}
.contentAside1{box-sizing:border-box;padding:60px 0 60px 27px;min-width:0;flex-basis:252px;flex-shrink:0;flex-grow:0;border-left:1px solid #e2e5eb;}

.flexType3{display:flex;gap:14px;margin-bottom:14px;}
.flexType3>li{position:relative;z-index:1;min-width:0;flex-basis:494px;flex-shrink:0;}
.flexType3>li>a>h3{position:absolute;top:26px;left:32px;font-size:26px;font-weight:700;;letter-spacing:-0.52px;line-height:26px;}
.flexType3>li>a>p{position:absolute;top:69px;left:32px;font-size:20px;font-weight:400;letter-spacing:-0.4px;line-height:26px;color: #2e2e2e;}
.flexType3>li:nth-child(1){width:494px;height:372px;;background:url(../images/main/mainbg1.png) no-repeat;color:#367cc2;}
.flexType3>li:nth-child(2){background:url(../images/main/mainbg2.png) no-repeat;color:#34A0A4;}

.flexType4{display:flex;gap:14px;}
.flexType4>li{box-sizing: border-box;min-width:0;flex-basis:240px;flex-shrink:0;height:180px;padding:26px 32px;border-radius:8px;color:#fff;}
.flexType4>li>h3{margin-bottom:10px;font-size:26px;font-weight:500;;letter-spacing:-0.52px;line-height:26px;}
.flexType4>li>p{margin-bottom:14px;font-size:20px;font-weight:400;letter-spacing:-0.4px;line-height:26px;}
.flexType4>li>a{font-size:14px;line-height:20px;}
.flexType4>li:nth-child(1){background:#36C28F;}
.flexType4>li:nth-child(2){background:#4BBAFB;}
.flexType4>li:nth-child(3){background:#D9AF4D;}
.flexType4>li:nth-child(4){background:#6980D9;}
.asideBox1>p{margin-bottom:1px;font-size:18px;font-weight:500;letter-spacing:-0.18px;line-height:26px;color:#1C98D1;}
.asideBox1>span{display:block;margin-bottom:20px;font-size:16px;font-weight:400;letter-spacing:-0.16px;line-height:24px;color:#2e2e2e;}
.boxType1{box-sizing:border-box;width:225px;height:86px;padding:13px 22px 17px 73px;border:2px solid #1C98D1;border-radius:4px;background:url(../images/common/img_tel_gnb_1.png) 18px 20px no-repeat;}
.boxType1>p{font-size:16px;font-weight:500;line-height:24px;color:#2e2e2e;}
.boxType1>span{font-size:25px;font-weight:700;line-height:30px;letter-spacing:-0.52px;color:#1C98D1;}
.asideBox2{margin-top:70px;}
.asideBox2>p{margin-bottom:10px;font-size:20px;font-weight:500;line-height:29px;color:#000;}
.menuBox1>li{box-sizing:border-box;width:225px;height:62px;padding:18px 5px 20px 70px;border:1px solid #E2E5EB;border-radius:2px;background:6px 6px no-repeat;}
.menuBox1>li + li{margin-top:8px;}
.menuBox1>li>a{display:block;font-size:16px;font-weight:400;letter-spacing:-0.16px;line-height:24px;color:#2e2e2e;}
.menuBox1>li:nth-child(1){background-image:url(../images/main/icon10.png);}
.menuBox1>li:nth-child(2){background-image:url(../images/main/icon11.png);}
.menuBox1>li:nth-child(3){background-image:url(../images/main/icon12.png);}
.menuBox1>li:nth-child(4){background-image:url(../images/main/icon13.png);}

/* section2 */
.section2{background:#f4f4f4;}
.flexType5{display:flex;padding:13px 30px;align-items:center;}
.flexType5>img{margin-right:100px;}
.flexType5>div>p{font-size:20px;font-weight:500;letter-spacing:-0.4px;line-height:29px;color:#000;}
.flexType5>div>span{font-size:18px;font-weight:400;letter-spacing:-0.18px;line-height:26px;color:#2e2e2e;}
.flexType5>a{display:inline-block;height:40px;padding:0 23px;margin-left:auto;border-radius:4px;font-size:16px;font-weight:400;line-height:40px;background:#1C98D1;color:#fff;}

/* section3 */
.flexType6{display:flex;gap:14px;width:1028px;padding:60px 0;flex-grow:0;flex-shrink:0;}
.flexType6>ul{height:382px;}
.flexType6>ul>li{width:494px;height:184px;flex-shrink:0;border-radius:4px;}
.textType3 .maincover2{display:block;width:110px;height:30px;position:absolute;left:32px;bottom:12px;z-index:1;text-align:center;font-size:14px;line-height:30px;color:#fff;background:rgba(0, 0, 0, 0.7);}
.flexTypeList>li + li {margin-top:14px;}
.flexTypeList>li:nth-child(1){position:relative;z-index:1;background:url(../images/main/maincover2.png) no-repeat;}
.flexTypeList .textType3,.flexTypeList1 .textType4{box-sizing:border-box;padding:26px 32px;background:#FAFAFA url(../images/main/maincover3.png) 254px 25px no-repeat;}
.flexTypeList1 .textType4{background:#FAFAFA url(../images/main/maincover4.png) 254px 25px no-repeat;}
.textType3>h4,.textType4>h4{margin-bottom:6px;font-size:20px;font-weight:500;letter-spacing:-0.4px;line-height:29px;color:#000;}
.textType3>p,.textType4>p{margin-bottom:22px;font-size:14px;font-weight:400;letter-spacing:-0.14px;line-height:20px;color:#2e2e2e;}


.textType3 .btnType3,.textType4 .btnType3{box-sizing:border-box;display:block;width:60px;height:28px;padding:0 9px;line-height:28px;;border-radius:4px;;background:#1C98D1;color:#fff;}

.flexTypeList1 .flexType8{display:flex;justify-content:space-between;}
.flexTypeList1>li + li {margin-top:14px;}
.flexType7 {width:240px;height:184px;}
.flexType7>li{box-sizing:border-box;width:240px;height:85px;padding:20px 24px;border:1px solid #E2E5EB;border-radius: 8px;}
.flexType7>li + li{margin-top:14px;}
.flexType7>li>p{font-size:16px;letter-spacing:-0.16px;line-height:23px;color:#2e2e2e;}
.flexType7>li{display:flex;justify-content:space-between;}
.flexType7>li:nth-child(odd) img{margin-left:10px;}
.flexType7>li:nth-child(even){flex-direction:row-reverse;}
.flexType7>li:nth-child(even) img{margin-right:8px;}

.menuBox3{box-sizing:border-box;width:225px;height:382px;padding:30px 24px;border:1px solid #e2e5eb;border-radius:4px;;text-align:center;}
.menuBox3>img{margin-bottom:10px;}
.menuBox3>p{margin-bottom:30px;font-size:20px;font-weight:500;line-height:29px;color:#000;}
.menuBox3>ul>li{box-sizing:border-box;height:33px;padding:0 7px 0 18px;border:1px solid #e2e5eb;border-radius:14px;text-align:left;}
.menuBox3>ul>li + li {margin-top:12px;}
.menuBox3>ul>li>a{display:block;font-size:14px;font-weight:400;letter-spacing:-0.14px;line-height:33px;color:#2e2e2e;}


/* slideSection  */
.contentMajor2{width:1028px;padding-bottom:60px;flex-grow:0;flex-shrink:0;}
.contentAside2{box-sizing:border-box;position:relative;z-index:1;padding:0 0 60px 27px;min-width:0;flex-basis:252px;flex-shrink:0;flex-grow:0;border-left:1px solid #e2e5eb;}
.contentAside2>p{display:inline-block;margin-bottom:10px;font-size:20px;font-weight:500;line-height:29px;color:#000;;}
.contentAside2>a{display:block;position:absolute;top:9px;right:0;z-index:1;font-size:13px;font-weight:400;line-height:19px;color:#2e2e2e;}
.menuBox4{box-sizing:border-box;width:225px;height:346px;padding:22px 14px 24px;border:1px solid #1C98D1;border-radius:4px;}
.menuBox4>li{display:flex;justify-content: space-between;}
.menuBox4>li>p{font-size:14px;letter-spacing:-0.14px;line-height:28px;color:#2e2e2e;}
.menuBox4>li>span{font-size:14px;letter-spacing:-0.14px;line-height:28px;color:#2e2e2e;}

/* slide */
.slideBox{box-sizing:border-box;width:1000px;height:379px;position:relative;z-index:1;padding:30px 35px 0;border:1px solid #1C98D1;border-radius:8px;}
.slideBox>h4{margin-bottom:20px;;font-size:20px;font-weight:500;letter-spacing:-0.4px;line-height:29px;text-align:center;color:#000;}
.slideFlex2{display:flex;gap:30px;margin-bottom:30px;}
.slideFlex2>li>img{vertical-align:top;}
.slideBox .prev, 
.slideBox .next{display:block;width:36px;height:36px;position:absolute;top:180px;}
.slideBox .prev{background:url(../images/common/prev.png) no-repeat;left:35px;}
.slideBox .next{background:url(../images/common/next.png) no-repeat;right:33px;}
.control{display:flex;width:128.5px;height:17px;margin:0 auto;}
.control .pause.on{display:inline-block;width:20px;height:12px;margin-right:9px;background:url(../images/common/pause.png) center no-repeat;}
.controlBox{display:flex;gap:8px;}
.controlBox>li{width:12px;height:12px;vertical-align:middle;}
.controlBox>li>a{display:inline-block;width:12px;height:12px;background:#e2e5eb;border-radius:50%;}
.controlBox>li.on>a{background:#1c98d1;}

/* section4 */
.contentMajor4{width:1028px;padding-bottom:100px;flex-grow:0;flex-shrink:0;}
.contentAside4{box-sizing:border-box;position:relative;z-index:1;padding:0 0 100px 27px;min-width:0;flex-basis:252px;flex-shrink:0;flex-grow:0;border-left:1px solid #e2e5eb;}
.bannerBox1{box-sizing:border-box;position:relative;z-index:1;width:1002px;height:120px;margin-bottom:52px;padding-top:31px;background:url(../images/main/maincover10.png) 0 0 no-repeat;}
.bannerBox1>h3{margin-left:254px;;font-size:20px;font-weight:500;letter-spacing:-0.4px;line-height:29px;color:#000;}
.bannerBox1>p{margin-left:254px;font-size:18px;font-weight:400;letter-spacing:-0.18px;line-height:26px;color:#2e2e2e;}
.btnBox1{position:absolute;right:16px;bottom:12px;z-index:1;}
.btnBox1 a + a{margin-left:10px;}

.flexType9{display:flex;gap:14px;}
.boxType2{position:relative;z-index:1;}
.boxType2>h4{margin-bottom:10.5px;font-size:20px;font-weight:500;line-height:29px;color:#000;}
.boxType2>a{display:inline-block;position:absolute;top:12px;right:20px;z-index:1;margin-left:auto;
  font-size:13px;font-weight:400;line-height:19px;color:#2e2e2e;}
.newBox{box-sizing:border-box;display:flex;width:494px;height:146px;padding:17.5px 20px 18.5px 20.5px;border:1px solid #e2e5eb;border-radius:8px;}
.newBox>img{width:110px;height:110px;margin-right:30px;}
.newBox>ul>li>a{display:inline-block;font-size:14px;letter-spacing:-0.14px;line-height:28px;color:#2e2e2e;}
.noticBox{box-sizing:border-box;width:494px;height:146px;padding:15.5px 20px 17.5px 20px;border:1px solid #e2e5eb;border-radius:8px;}
.noticBox>h5{margin-bottom:6px;font-size:16px;font-weight:500;letter-spacing:-0.16px;line-height:24px;color:#000;}
.noticBox>p{margin-bottom:4px;font-size:14px;font-weight:400;letter-spacing:-0.14px;line-height:20px;color:#2e2e2e;}
.noticBox>span{font-size:13px;letter-spacing:-0.13px;line-height:19px;color:#2e2e2e;}
.contentAside4>p{display:inline-block;margin-bottom:10px;font-size:20px;font-weight:500;line-height:29px;color:#000;;}
.contentAside4>a{display:inline-block;position:absolute;top:9px;right:0;z-index:1;font-size:13px;font-weight:400;line-height:19px;color:#2e2e2e;}
.menuBox5{box-sizing:border-box;width:225px;height:325px;padding:23px 13px 24px;border:1px solid #E2E5EB;border-radius:4px;}
.menuBox5>li>a{display:block;padding:0 0 0 9px;text-indent:-14px;font-size:14px;letter-spacing:-0.14px;line-height:20px;color:#2e2e2e;}
.menuBox5>li + li{margin-top:13px;}
.menuBox5>li>a>span{margin-right:3px;font-size:14px;font-weight:500;line-height:20px;color:#1C98D1;}
