@import url(common.css);
:root {
    --gray_5:#aaa;
}
/* header */
.headerSubnav {display:flex;width:411px;padding-bottom:20px;margin-top:13px;position:absolute;top:0;right:0;z-index:1;}
.headerSubnav>li>a.showNav:hover {color:var(--blue_1);}
.language {display:flex;position:absolute;bottom:15px;right:0;z-index:1;font-size:12px;color:var(--gray_5);}
.language li + li::before {content:''; display:inline-block; width:2px;height:13px;margin:0 14px;background:var(--gray_5);vertical-align:middle;}
.language a:hover{color:#000;} 
.search {width:400px;height:40px;border:1px solid #1C98D1;}
.search>input[type=text]{width:345px;padding:0 0 0 20px;line-height:40px;vertical-align:middle;font-size:13px;border:none;outline:none}
.search>a{overflow:hidden;display:inline-block;width:18px;height:18px;vertical-align:middle;text-indent:999px;color:transparent;background:url(../images/zoom.svg) 0 0 no-repeat;}

.headerSubnav>li:nth-child(3):after, .headerSubnav>li:nth-child(4):after {content:''; display:inline-block;width:16px;height:16px;margin:3px 0 0 0;background:url(../images/arrow_top_gnb.svg) 0 0 no-repeat;}


/* layout */
.topMenuToggle{position:absolute;top:45px;left:50%;display:none;min-width:235px;flex-wrap:wrap;padding:9px 0;margin:0 0 0 232px;background:#fff;border-radius:4px;box-shadow: 0px 3px 6px #00000029;}
.topMenuToggle>ul{min-width:88px;padding:0 0 0 20px}
.topMenuToggle>ul>li{display:block;}
.topMenuToggle>ul>li>a{font-size:15px;line-height:34px;vertical-align:top;letter-spacing:-0.05em;}
.topMenuToggle>ul>li>a:hover,.topMenuToggle>ul>li>a.is_active{color:var(--blue_1);}