@charset "utf-8";

/* sub visual */
.visualArea{width:100%;height:168px;padding:92px 0 0 0;}
.visualArea>h3{width:563px;height:76px;margin:0 auto;line-height:76px;text-align:center;font-size:30px;font-weight:700;color:var(--white_1);background:rgba(0,0,0,0.2)}
.visualArea.type1{background:url(../images/sub/sub_etc/sub_visual_1.png) center no-repeat;}

/* tabType1 Area */
.tabType1 {}
.tabType1Flex {display:flex;justify-content:center;align-items:center;height:68px;margin-bottom:15px;border-bottom:1px solid var(--gray_5);box-sizing:border-box;}
.tabType1Flex>li>a {position:relative;z-index:1;}
.tabType1Flex>li .is_active::after {content:'';display:block;position:absolute;left:0;right:0;bottom:-23px;z-index:1;height:3px;background:currentColor;}
.tabType1Flex>li::before {content:' '; display:inline-block;width:2px;height:16px;margin:0 26px;background:var(--gray_5);vertical-align: middle;}
.tabType1Flex>li:first-child::before {display:none;}
.tabType1Flex>li>a {display:inline-block;padding:0 5px;font-size:16px;letter-spacing:-.16px;;}
.tabType1Flex>li .is_active {color:var(--blue_1);}

/* sub common */
.subConLocation {display:flex;align-items:center;justify-content:right;text-align:right;margin-bottom:36px;font-size:13px;color:var(--black-1);vertical-align: middle;}
.subConLocation>img {margin-right:13px;;vertical-align:middle;}
.subConLocation>span {display:inline-block;margin:0 9px 0 13px;}

/* corp_info */
.subCon1Flex {display:flex;gap:20px;align-items:center;margin-bottom:47px;}
.subCon1Title {flex-basis:490px;flex-shrink:0;}
.subCon1Title>h2 {font-size:40px;font-weight:700;margin-bottom:24px;}
.subCon1Title .is_active {color:var(--blue_1);}
.subCon1Title .subCon1TitleText1 {line-height:33px;font-size:24px;margin-bottom:50px;}
.subCon1Title .subCon1TitleText2 {line-height:28px;font-size:15px;color:var(--gray_6);}
.subCon1TitleText2::before {content:'';display:block;width:35px;height:1px;background:#000;margin-bottom:33px;}
.subCon1TitleCover {display:inline-block;width:770px;height:368px;}

.subCon1List {margin-bottom:100px;}
.subCon1ListItems {display:flex;align-items:center;text-align:center;border:1px solid var(--gray_4);box-sizing:border-box;}
.subCon1ListItems>li {flex-basis:0;flex-grow:1;;padding:50px 0;position:relative;z-index:1;}
/* width: 254px  */
.subCon1ListItems>li>p {margin-top:40px;font-size:14px;line-height:1.4;}
.subCon1ListItems>li>p + p {margin-top: 15px;}
.subCon1ListItems>li>p>strong {font-size:18px;color:var(--blue_1);}
.subCon1ListItems>li::before {content:'';display:block;width:75px;height:75px;margin:0 auto;}
.subCon1ListItems>li:nth-child(1) {padding:50px 0 30px;}
.subCon1ListItems>li:nth-child(1)::before {background:url(../images/sub/sub_etc/introductor_ico1.png) no-repeat;background-position:0 0;}
.subCon1ListItems>li:nth-child(2)::before {background:url(../images/sub/sub_etc/introductor_ico2.png) no-repeat;background-position:0 0;}
.subCon1ListItems>li:nth-child(3)::before {background:url(../images/sub/sub_etc/introductor_ico3.png) no-repeat;background-position:0 0;}
.subCon1ListItems>li:nth-child(4)::before {background:url(../images/sub/sub_etc/introductor_ico4.png) no-repeat;background-position:0 0;}
.subCon1ListItems>li:nth-child(5)::before {background:url(../images/sub/sub_etc/introductor_ico5.png) no-repeat;background-position:0 0;width:80px;height:75px;}
.subBtn1 {display:block;width:108px;height:30px;margin:10px auto 0;line-height:30px;background:var(--blue_1);color:#fff;font-size:13px;border-radius:4px;}
.subCon1ListItems>li::after {content:'';display:inline-block;width:2px;height:220px;position:absolute;top:50%;right:0;z-index:1;transform:translateY(-50%);background:var(--gray_4);}
.subCon1ListItems>li:last-child::after {display:none;}

.subCon1Ceo {padding:80px 0;margin-bottom:100px;background:var(--gray_7);}
.subCon1CeoFlex {display:flex;;}
.subCon1CeoLeft {max-width:730px;}
.subCon1CeoLeft>h2>strong {font-size:30px;}
.subCon1CeoLeft>h2>span {font-size:20px;}
.subCon1CeoLeft>p {margin-top:30px;font-size:18px;color:var(--black-1);}
.subCon1CeoRight {margin-left:auto;}

.subCon1Business {display:flex;flex-direction:column;margin-bottom:100px;}
.businessTitle {font-size:23px; color:var(--black-0);margin-bottom:30px;}
.businessTitle::before {content:'';display:block;width:30px;height:3px;background:var(--blue_1);margin-bottom:10px;}
.businessText {font-size:18px;color:var(--black-1);margin-bottom:60.5px;}
.subCon1Business>img {display:block;align-self:center;width:774px;height:488px;}

.subCon1CiBox {display:flex;gap:48px;align-items:center;padding:35px 59px 35px 65px;margin-bottom:200px;background:#fafafa;}
.subCon1CiBox>img {flex-basis:184px;flex-shrink:0;}
.subCon1BoxText>h5 {font-size:20px;margin-bottom:10px;}
.subCon1BoxText>h5>span {color:var(--blue_1);}
.subCon1BoxText>img {margin-bottom:30px;}
.subCon1BoxText>p {font-size:18px;color:var(--black-1);}
.subCon1BoxText>p>span {color:var(--blue_1);}

/* corp_history */
.subCon2Flex {display:flex;align-items:center;justify-content:space-between;}
.subCon2Flex>h2 {font-size:40px;line-height:50px;color:#000;}
.subCon2Flex>h2>span {font-size:40px;color:#1c98d1;}

/* button {all:unset;cursor:pointer;} */
.subCon2Bar {display:flex;align-items:center;box-shadow: inset 0 0 10px red;}
.subCon2Bar>li {min-width:197px;flex-grow:0;height:50px;box-shadow: inset 0 0 10px green;}
.subCon2Bar>li>button {display:inline-block;font-size:18px;line-height:26px;color:#aaa;}
.historyList {margin-bottom:200px;}
.historyList>li {display:flex;padding:40px 0;position:relative;z-index:1;}
.historyList>li>h3 {margin:0 67px 0 11px;font-size:30px;letter-spacing:-0.3px;line-height:44px;color:#000;}
.historyList .historyList_year>li {font-size:18px;color:#000;line-height:26px;letter-spacing:-0.18px;color:var(--black_1);}
.historyList .historyList_year>li>span {margin-right:16px;}
.historyList>li>img {margin-left:auto;}
.historyList>li::after {content:'';display:block;height:2px;position:absolute;left:0;right:0;bottom:0;z-index:1;background:#f1f2f5;}

/* corp_certificate */
.certificateMenu {display:flex;align-items:center;margin-bottom:100px;}
.certificateMenu>li {flex-basis:0;min-width:0;flex-grow:1;height:60px;line-height:60px;border:1px solid #e2e5eb;font-size:18px;letter-spacing:-0.18px;color:#000;background:#fff;text-align:center;}
.certificateMenu>li {border-right:none;}
.certificateMenu>li:last-child {border:1px solid #e2e5eb;}
.certificateMenu>li.is_active {background:var(--blue_1);color:#fff;}
.certificateMenu>li>button {height:60px;}
.certificateList1 {font-size:24px;line-height:35px;color:var(--black_0);margin-bottom:30px;}
.certificateList1::before {content:'';display:block;width:30px;height:2px;background:var(--blue_1);margin-bottom:10px;}
.certifiListFlex {display:flex;flex-wrap:wrap;gap:8px;margin-bottom:100px;}
.certifiListFlex>li {min-width:206px;vertical-align:top;}

/* corp_transaction  */